<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Specific comment</title>
</head>

<body>
    <h2>Comment ID: <%= comment.id %>
    </h2>
    <h2>
        <%= comment.comment %> - <%= comment.username %>
    </h2>

    <a href="/comments"> Go back to comments list</a>
    <a href="/comments/<%= comment.id %>/edit">Edit the comment</a>
    <form action="/comments/<%=comment.id%>?_method=DELETE" method="post">
        <button>delete</button>
    </form>
</body>

</html>